.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  margin-top: 10px;
}

.App-header {
  background-color: #e6e6e6;
  height: 90px;
  color: white;
}

ul {
  display: flex;
  align-items: flex-end;
  margin: auto;
  list-style: none;
  justify-content: space-between;

  li:first-child {
    margin-right: auto;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header-Search{
  display: flex;
  flex-direction: row;
  margin-right: 30px
}

.Header-Menu{
  font-size: 2.0em
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
